// Variables
$font-primary: 'Montserrat', sans-serif;
$font-size-base: 18px;
$font-weight-bold: bold;
$background-image-url: url(../image/background.jpg);
$color-primary: #007BFF;
$color-secondary: #0056B3;
$color-white: white;
$color-black: black;
$color-footer-bg: #5a3d8e;
$color-footer-link: rgb(215, 215, 215);
$color-hover: blue;
$color-azure: azure;
$color-transparent: transparent;
$color-aliceblue: aliceblue;
