.recent-txt{
    color: white;
    padding: 14px;
    padding-left: 28px;
    margin-top: -30px;
}
@media (max-width: 1200px) {
    .projects {
        margin-top: -50px;
    }
    .work-section{
        margin-top: -40px;
    }
}